* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none; }

.container {
  display: flex;
  width: 1920px;
  max-width: 100%;
  flex-direction: column; }

.wrapper {
  display: flex; }

header {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #32CD32; }

header div {
  display: inline-flex;
  align-items: center; }

header label {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer; }

header label::after {
  content: ' | ';
  color: black; }

header label:last-child::after {
  content: ' '; }

header label:hover {
  color: #32CD32;
  transition: all .2s linear; }

label:hover {
  color: #fefffe;
  transition: all .2s linear; }

.left-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  max-width: 100%;
  border-right: 1px solid #32CD32;
  padding: 20px;
  position: fixed;
  overflow-y: auto;
  height: 100%; }

.nav-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px; }

body input:checked ~ .wrapper .left-navigation .nav-title + label {
  background-color: firebrick;
  color: white; }

.nav-title label {
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #32CD32;
  margin-top: 2px; }

.nav-products__1, .nav-products__2, .nav-products__3, .nav-products__4, .nav-products__5 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.nav-products label {
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #32CD32;
  margin-top: 2px;
  margin-left: 10px; }

.nav-products label {
  display: none; }
  .nav-products label:checked + label {
    background-color: firebrick;
    color: white; }

.pagination-company-1, .pagination-company-2, .pagination-company-3, .pagination-company-4, .pagination-company-5 {
  display: none; }

.comp-close-1, .comp-close-2, .comp-close-3, .comp-close-4, .comp-close-5 {
  display: none; }

#product-close {
  display: none; }

#item-close {
  display: none; }

input[id="company-1"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__1,
input[id="company-2"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__2,
input[id="company-3"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__3,
input[id="company-4"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__4,
input[id="company-5"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__5,
input[id="company-1"]:checked ~ .wrapper .main-content .pagination .pagination-company .pagination-company-1,
input[id="company-2"]:checked ~ .wrapper .main-content .pagination .pagination-company .pagination-company-2,
input[id="company-3"]:checked ~ .wrapper .main-content .pagination .pagination-company .pagination-company-3,
input[id="company-4"]:checked ~ .wrapper .main-content .pagination .pagination-company .pagination-company-4,
input[id="company-5"]:checked ~ .wrapper .main-content .pagination .pagination-company .pagination-company-5,
input[id="company-1"]:checked ~ .wrapper .left-navigation .nav-title .comp-close-1,
input[id="company-2"]:checked ~ .wrapper .left-navigation .nav-title .comp-close-2,
input[id="company-3"]:checked ~ .wrapper .left-navigation .nav-title .comp-close-3,
input[id="company-4"]:checked ~ .wrapper .left-navigation .nav-title .comp-close-4,
input[id="company-5"]:checked ~ .wrapper .left-navigation .nav-title .comp-close-5 {
  display: flex; }

.nav-items__1, .nav-items__2, .nav-items__3, .nav-items__4, .nav-items__5 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.nav-items__1 label, .nav-items__2 label, .nav-items__3 label, .nav-items__4 label, .nav-items__5 label {
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #32CD32;
  margin-top: 2px;
  margin-left: 20px; }

input {
  display: none; }
  input:checked + label {
    background-color: firebrick;
    color: white; }

.main-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 89%;
  margin-bottom: 40px;
  padding-left: 300px; }

.pagination {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: 35px;
  border-bottom: 1px solid #32CD32; }

.img-content-1 {
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  overflow-y: auto; }

.img-content-2 {
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  overflow-y: auto; }

.img-content-3 {
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  overflow-y: auto; }

.im {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px; }

.im img {
  margin-bottom: 10px; }

.img-content-1 p, .img-content-2 p, .img-content-3 p {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 0px 0px rgba(50, 205, 50, 0.75); }

.pagination label {
  margin-left: 20px;
  cursor: pointer;
  background-color: rgba(100, 178, 44, 0.3);
  position: relative; }

.pagination label::before {
  content: "";
  color: rgba(100, 178, 44, 0.3);
  border: 9px solid;
  border-left-color: #fff;
  border-right: 0;
  position: absolute;
  left: -9px; }

.pagination label::after {
  content: "";
  color: #fff;
  background-color: #fff;
  border: 9px solid;
  border-left-color: rgba(100, 178, 44, 0.3);
  border-right: 0;
  position: absolute; }

.pagination-products-1, .pagination-products-2, .pagination-products-3, .pagination-products-4, .pagination-products-5,
.pagination-products-21, .pagination-products-22, .pagination-products-23, .pagination-products-24, .pagination-products-25,
.pagination-products-31, .pagination-products-32, .pagination-products-33, .pagination-products-34, .pagination-products-35,
.pagination-products-41, .pagination-products-42, .pagination-products-43, .pagination-products-44, .pagination-products-45,
.pagination-products-51, .pagination-products-52, .pagination-products-53, .pagination-products-54, .pagination-products-55 {
  display: none; }

input[id="product-1"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__1 .nav-items__1,
input[id="product-2"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__1 .nav-items__2,
input[id="product-3"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__1 .nav-items__3,
input[id="product-4"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__1 .nav-items__4,
input[id="product-5"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__1 .nav-items__5,
input[id="product-1"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-1,
input[id="product-2"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-2,
input[id="product-3"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-3,
input[id="product-4"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-4,
input[id="product-5"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-5,
input[id="product-1"]:checked ~ .wrapper .main-content .pagination .pagination-items,
input[id="product-2"]:checked ~ .wrapper .main-content .pagination .pagination-items,
input[id="product-3"]:checked ~ .wrapper .main-content .pagination .pagination-items,
input[id="product-4"]:checked ~ .wrapper .main-content .pagination .pagination-items,
input[id="product-5"]:checked ~ .wrapper .main-content .pagination .pagination-items {
  display: flex; }

input[id="product-21"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__2 .nav-items__1,
input[id="product-22"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__2 .nav-items__2,
input[id="product-23"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__2 .nav-items__3,
input[id="product-24"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__2 .nav-items__4,
input[id="product-25"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__2 .nav-items__5,
input[id="product-21"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-21,
input[id="product-22"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-22,
input[id="product-23"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-23,
input[id="product-24"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-24,
input[id="product-25"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-25 {
  display: flex; }

input[id="product-31"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__3 .nav-items__1,
input[id="product-32"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__3 .nav-items__2,
input[id="product-33"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__3 .nav-items__3,
input[id="product-34"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__3 .nav-items__4,
input[id="product-35"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__3 .nav-items__5,
input[id="product-31"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-31,
input[id="product-32"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-32,
input[id="product-33"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-33,
input[id="product-34"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-34,
input[id="product-35"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-35 {
  display: flex; }

input[id="product-41"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__4 .nav-items__1,
input[id="product-42"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__4 .nav-items__2,
input[id="product-43"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__4 .nav-items__3,
input[id="product-44"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__4 .nav-items__4,
input[id="product-45"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__4 .nav-items__5,
input[id="product-41"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-41,
input[id="product-42"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-42,
input[id="product-43"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-43,
input[id="product-44"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-44,
input[id="product-45"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-45 {
  display: flex; }

input[id="product-51"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__5 .nav-items__1,
input[id="product-52"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__5 .nav-items__2,
input[id="product-53"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__5 .nav-items__3,
input[id="product-54"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__5 .nav-items__4,
input[id="product-55"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__5 .nav-items__5,
input[id="product-51"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-51,
input[id="product-52"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-52,
input[id="product-53"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-53,
input[id="product-54"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-54,
input[id="product-55"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-55 {
  display: flex; }

.pagination-co1-p1-item-11, .pagination-co1-p1-item-12, .pagination-co1-p1-item-13,
.pagination-co1-p2-item-11, .pagination-co1-p2-item-12, .pagination-co1-p2-item-13,
.pagination-co1-p3-item-11, .pagination-co1-p3-item-12, .pagination-co1-p3-item-13, .pagination-co1-p4-item-11, .pagination-co1-p4-item-12, .pagination-co1-p4-item-13,
.pagination-co1-p5-item-11, .pagination-co1-p5-item-12, .pagination-co1-p5-item-13, .pagination-co2-p1-item-11, .pagination-co2-p1-item-12, .pagination-co2-p1-item-13,
.pagination-co2-p2-item-11, .pagination-co2-p2-item-12, .pagination-co2-p2-item-13, .pagination-co2-p3-item-11, .pagination-co2-p3-item-12, .pagination-co2-p3-item-13,
.pagination-co2-p4-item-11, .pagination-co2-p4-item-12, .pagination-co2-p4-item-13, .pagination-co2-p5-item-11, .pagination-co2-p5-item-12, .pagination-co2-p5-item-13,
.pagination-co3-p1-item-11, .pagination-co3-p1-item-12, .pagination-co3-p1-item-13, .pagination-co3-p2-item-11, .pagination-co3-p2-item-12, .pagination-co3-p2-item-13,
.pagination-co3-p3-item-11, .pagination-co3-p3-item-12, .pagination-co3-p3-item-13, .pagination-co3-p4-item-11, .pagination-co3-p4-item-12, .pagination-co3-p4-item-13,
.pagination-co3-p5-item-11, .pagination-co3-p5-item-12, .pagination-co3-p5-item-13, .pagination-co4-p1-item-11, .pagination-co4-p1-item-12, .pagination-co4-p1-item-13,
.pagination-co4-p2-item-11, .pagination-co4-p2-item-12, .pagination-co4-p2-item-13, .pagination-co4-p3-item-11, .pagination-co4-p3-item-12, .pagination-co4-p3-item-13,
.pagination-co4-p4-item-11, .pagination-co4-p4-item-12, .pagination-co4-p4-item-13, .pagination-co4-p5-item-11, .pagination-co4-p5-item-12, .pagination-co4-p5-item-13,
.pagination-co5-p1-item-11, .pagination-co5-p1-item-12, .pagination-co5-p1-item-13, .pagination-co5-p2-item-11, .pagination-co5-p2-item-12, .pagination-co5-p2-item-13,
.pagination-co5-p3-item-11, .pagination-co5-p3-item-12, .pagination-co5-p3-item-13, .pagination-co5-p4-item-11, .pagination-co5-p4-item-12, .pagination-co5-p4-item-13,
.pagination-co5-p5-item-11, .pagination-co5-p5-item-12, .pagination-co5-p5-item-13 {
  display: none; }

input[id="item-p1__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p1-item-11,
input[id="item-p1__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p1-item-12,
input[id="item-p1__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p1-item-13,
input[id="item-p2__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p2-item-11,
input[id="item-p2__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p2-item-12,
input[id="item-p2__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p2-item-13,
input[id="item-p3__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p3-item-11,
input[id="item-p3__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p3-item-12,
input[id="item-p3__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p3-item-13,
input[id="item-p4__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p4-item-11,
input[id="item-p4__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p4-item-12,
input[id="item-p4__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p4-item-13,
input[id="item-p5__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p5-item-11,
input[id="item-p5__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p5-item-12,
input[id="item-p5__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co1-p5-item-13,
input[id="co-2__itemp-1__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p1-item-11,
input[id="co-2__itemp-1__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p1-item-12,
input[id="co-2__itemp-1__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p1-item-13,
input[id="co-2__itemp-2__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p2-item-11,
input[id="co-2__itemp-2__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p2-item-12,
input[id="co-2__itemp-2__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p2-item-13,
input[id="co-2__itemp-3__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p3-item-11,
input[id="co-2__itemp-3__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p3-item-12,
input[id="co-2__itemp-3__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p3-item-13,
input[id="co-2__itemp-4__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p4-item-11,
input[id="co-2__itemp-4__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p4-item-12,
input[id="co-2__itemp-4__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p4-item-13,
input[id="co-2__itemp-5__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p5-item-11,
input[id="co-2__itemp-5__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p5-item-12,
input[id="co-2__itemp-5__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co2-p5-item-13,
input[id="co-3__itemp-1__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p1-item-11,
input[id="co-3__itemp-1__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p1-item-12,
input[id="co-3__itemp-1__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p1-item-13,
input[id="co-3__itemp-2__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p2-item-11,
input[id="co-3__itemp-2__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p2-item-12,
input[id="co-3__itemp-2__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p2-item-13,
input[id="co-3__itemp-3__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p3-item-11,
input[id="co-3__itemp-3__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p3-item-12,
input[id="co-3__itemp-3__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p3-item-13,
input[id="co-3__itemp-4__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p4-item-11,
input[id="co-3__itemp-4__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p4-item-12,
input[id="co-3__itemp-4__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p4-item-13,
input[id="co-3__itemp-5__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p5-item-11,
input[id="co-3__itemp-5__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p5-item-12,
input[id="co-3__itemp-5__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co3-p5-item-13,
input[id="co-4__itemp-1__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p1-item-11,
input[id="co-4__itemp-1__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p1-item-12,
input[id="co-4__itemp-1__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p1-item-13,
input[id="co-4__itemp-2__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p2-item-11,
input[id="co-4__itemp-2__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p2-item-12,
input[id="co-4__itemp-2__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p2-item-13,
input[id="co-4__itemp-3__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p3-item-11,
input[id="co-4__itemp-3__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p3-item-12,
input[id="co-4__itemp-3__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p3-item-13,
input[id="co-4__itemp-4__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p4-item-11,
input[id="co-4__itemp-4__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p4-item-12,
input[id="co-4__itemp-4__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p4-item-13,
input[id="co-4__itemp-5__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p5-item-11,
input[id="co-4__itemp-5__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p5-item-12,
input[id="co-4__itemp-5__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co4-p5-item-13,
input[id="co-5__itemp-1__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p1-item-11,
input[id="co-5__itemp-1__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p1-item-12,
input[id="co-5__itemp-1__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p1-item-13,
input[id="co-5__itemp-2__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p2-item-11,
input[id="co-5__itemp-2__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p2-item-12,
input[id="co-5__itemp-2__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p2-item-13,
input[id="co-5__itemp-3__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p3-item-11,
input[id="co-5__itemp-3__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p3-item-12,
input[id="co-5__itemp-3__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p3-item-13,
input[id="co-5__itemp-4__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p4-item-11,
input[id="co-5__itemp-4__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p4-item-12,
input[id="co-5__itemp-4__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p4-item-13,
input[id="co-5__itemp-5__1"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p5-item-11,
input[id="co-5__itemp-5__2"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p5-item-12,
input[id="co-5__itemp-5__3"]:checked ~ .wrapper .main-content .pagination .pagination-items .pagination-co5-p5-item-13 {
  display: flex; }

input[id="item-p1__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="item-p1__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="item-p1__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="item-p2__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="item-p2__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="item-p2__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="item-p3__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="item-p3__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="item-p3__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="item-p4__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="item-p4__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="item-p4__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="item-p5__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="item-p5__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="item-p5__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-2__itemp-1__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-2__itemp-1__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-2__itemp-1__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-2__itemp-2__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-2__itemp-2__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-2__itemp-2__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-2__itemp-3__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-2__itemp-3__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-2__itemp-3__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-2__itemp-4__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-2__itemp-4__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-2__itemp-4__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-2__itemp-5__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-2__itemp-5__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-2__itemp-5__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-3__itemp-1__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-3__itemp-1__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-3__itemp-1__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-3__itemp-2__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-3__itemp-2__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-3__itemp-2__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-3__itemp-3__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-3__itemp-3__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-3__itemp-3__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-3__itemp-4__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-3__itemp-4__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-3__itemp-4__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-3__itemp-5__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-3__itemp-5__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-3__itemp-5__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-4__itemp-1__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-4__itemp-1__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-4__itemp-1__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-4__itemp-2__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-4__itemp-2__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-4__itemp-2__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-4__itemp-3__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-4__itemp-3__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-4__itemp-3__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-4__itemp-4__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-4__itemp-4__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-4__itemp-4__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-4__itemp-5__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-4__itemp-5__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-4__itemp-5__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-5__itemp-1__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-5__itemp-1__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-5__itemp-1__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-5__itemp-2__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-5__itemp-2__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-5__itemp-2__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-5__itemp-3__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-5__itemp-3__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-5__itemp-3__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-5__itemp-4__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-5__itemp-4__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-5__itemp-4__3"]:checked ~ .wrapper .main-content .img-content-3,
input[id="co-5__itemp-5__1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="co-5__itemp-5__2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="co-5__itemp-5__3"]:checked ~ .wrapper .main-content .img-content-3 {
  display: flex; }

input[id="company-1"]:checked ~ .wrapper .left-navigation .nav-title .comp-1,
input[id="company-2"]:checked ~ .wrapper .left-navigation .nav-title .comp-2,
input[id="company-3"]:checked ~ .wrapper .left-navigation .nav-title .comp-3,
input[id="company-4"]:checked ~ .wrapper .left-navigation .nav-title .comp-4,
input[id="company-5"]:checked ~ .wrapper .left-navigation .nav-title .comp-5 {
  display: none; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px; }

::-webkit-scrollbar-track {
  background-color: greenyellow;
  border-radius: 20px; }

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: yellowgreen; }

input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-1,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-2,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-3,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-4,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-5,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-21,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-22,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-23,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-24,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-25,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-31,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-32,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-33,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-34,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-35,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-41,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-42,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-43,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-44,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-45,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-51,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-52,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-53,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-54,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-products .pagination-products-55,
input[id="company-close"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__1,
input[id="company-close"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__2,
input[id="company-close"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__3,
input[id="company-close"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__4,
input[id="company-close"]:checked ~ .wrapper .left-navigation .nav-title .nav-products__5,
input[id="company-close"]:checked ~ .wrapper .main-content .pagination .pagination-items,
input[id="company-close"]:checked ~ .wrapper .main-content .img-content-1,
input[id="company-close"]:checked ~ .wrapper .main-content .img-content-2,
input[id="company-close"]:checked ~ .wrapper .main-content .img-content-3 {
  display: none; }

input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-1,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-2,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-3,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-4,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-5,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-21,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-22,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-23,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-24,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-25,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-31,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-32,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-33,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-34,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-35,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-41,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-42,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-43,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-44,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-45,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-51,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-52,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-53,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-54,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-products .pagination-products-55,
input[id="product-close"]:checked ~ .wrapper .pagination .pagination-items,
input[id="product-close"]:checked ~ .wrapper .main-content .img-content-1,
input[id="product-close"]:checked ~ .wrapper .main-content .img-content-2,
input[id="product-close"]:checked ~ .wrapper .main-content .img-content-3 {
  display: none; }

input[id="item-close"]:checked ~ .wrapper .pagination .pagination-items,
input[id="item-close"]:checked ~ .wrapper .main-content .img-content-1,
input[id="item-close"]:checked ~ .wrapper .main-content .img-content-2,
input[id="item-close"]:checked ~ .wrapper .main-content .img-content-3 {
  display: none; }

input[id="header-item-1"]:checked ~ .wrapper .main-content .img-content-1,
input[id="header-item-2"]:checked ~ .wrapper .main-content .img-content-2,
input[id="header-item-3"]:checked ~ .wrapper .main-content .img-content-3 {
  display: flex; }

@media (max-width: 600px) {
  .left-navigation {
    width: 150px;
    max-width: 100%; }
  .main-content {
    padding-left: 150px; } }

@media (max-width: 445px) {
  .left-navigation {
    width: 100px;
    max-width: 100%;
    padding: 0; }
  .main-content {
    padding-left: 100px; }
  .pagination {
    display: flex;
    height: 70px;
    flex-direction: column;
    padding: 5px; } }
